<!DOCTYPE html>
<html>
    <head>
        <title>Conexiones</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/index.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="container">
        
        <% if(message) {%>
            <div id="msgErrorEdicionU" class="alert alert-<%=message.type%>">
                <strong><%=message.intro%></strong><%=message.message%>
            </div>
        <% } %>
        <h2>Lista</h2>

        <form>            
                <table class="display nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Conexion</th>
                        </tr>
                    
                    </thead>
                    <tbody>
                        <%if (Conexiones!=null){%>
                        <tr> 
                            <% if (Tipo=="Freelancer"){ %>
                            <td><% Conexiones.forEach( (trabajo) => { %>                     
                                <%= trabajo%>
                                <br>                        
                            <% }) %></td>
                            <%}else{%>
                                <td><% Conexiones.forEach( (trabajo) => { %>                     
                                    <a href="/NumPago/<%= trabajo%>"><%= trabajo%></a>
                                    <br>     
                                <% }) %></td>                    
                            <%}%>        
                        <%}else{%>
                            <td>No tienes ninguna conexion</td>
                        <%}%>
                    </tr>   
            </tbody>
        </table>
    </form>
    <%if (Tipo!="Freelancer"){%>
        <a href="Main_cliente" class="btn btn-success" id="btnLogInBrilla">Regresar</a>
    <%}else{%>
    <a href="Main" class="btn btn-success" id="btnLogInBrilla">Regresar</a><%}%>

</body>
</html>