<!DOCTYPE html>
<html>
    <head>
        <title>Recuperar Contraseña</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/Ingresar.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    </head>
    <body class="container">
        
        <% if(message) {%>
            <div id="msgErrorEdicionU" class="alert alert-<%=message.type%>">
                <strong><%=message.intro%></strong><%=message.message%>
            </div>
        <% } %>
        
        <form method="post" action="/Recuperar/<%= Fase %>">
            <% if(Fase==0){ %>            
            <div>
                <label class="form-label">Correo</label>
                <input name="usuario_correo" type="text" class="form-control"/>
            </div>
            <% }else{ %>
                <div>
                    <label class="form-label"><%= Pregunta %></label>
                    <input name="usuario_respuesta" type="text" class="form-control"/>
                </div>
            <% } %>
            <tr>
            <td><button type="submit" class="btn btn-success" id="Acceder">Recuperar</button></td>
            <td><a href="/Login" id="registrarse">Regresar</a></td>
            </tr>
        </form>
    </body>
</html>